* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
    font-family: "pantograph-regular";
    src: url("../fonts/pantograph-regular.eot?#iefix");
    src: url("../fonts/pantograph-regular.eot?#iefix") format("eot"), url("../fonts/pantograph-regular.woff2") format("woff2"), url("../fonts/pantograph-regular.woff") format("woff"), url("../fonts/pantograph-regular.ttf") format("truetype"), url("../fonts/pantograph-regular.svg") format("svg");
}

:root {
  --padding: 1.5rem;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777;
  --color-light: #EBEBEB;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-main:             #ADDCEB;
  --color-accent:           #F08880;
  --font-family-sans: "pantograph-regular", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background: var(--color-background);
  font-size:18px;
}
img {
  width: 100%;
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

img.blue-filter{
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
}

.main-wrapper{
  padding: 140px var(--padding);
  max-width: 60rem;
  margin: 0 auto;
}

li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
  transition: color .3s ease;
}
button {
  font: inherit;
  background: none;
  border: 0;
  color: currentColor;
  cursor: pointer;
}

.underline{
  text-decoration: underline;
}

.uppercase{
  text-transform: uppercase;
}

.link-regular:after{
  content: "→";
  display: inline-block;
  padding-left: .5em;
}

.btn{
  border-radius: 60px;
  padding: 10px 20px;
  background-color: var(--color-accent);
  border:none;
  display: inline-block;
  text-decoration: none;
  transition: background .3s ease;
  text-align:center;
  line-height:1.1;
  margin: 10px 25px 10px 0;
}


.btn.large{
  padding: 15px 60px;
}

.btn-light{
  background-color: #fff;
  border:1px solid #000;
}

.btn:hover{
  background-color: #f59c94;
}

.btn-light:hover{
  background-color: #ffff;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn.icon:before{
  content:"";
  display:inline-block;
  width: 17px;
  height:17px;
  margin-right: .7em;
  position:relative;
  top:2px;

}

.icon.download:before{
  background: url(../icons/download.svg) no-repeat center;
}

.icon.url:before{
  background: url(../icons/link.svg) no-repeat center;
}

.icon.eye:before{
  background: url(../icons/eye.svg) no-repeat center;
  top:3px;
  width:25px;
  height:20px;
}

.icon.download.btn-light:hover:before{
   background: url(../icons/download-accent.svg) no-repeat center;
}

.icon.url.btn-light:hover:before{
  background: url(../icons/link-accent.svg) no-repeat center;
}

.icon.btn-light.eye:hover:before{
  background: url(../icons/eye-accent.svg) no-repeat center;
}



strong, b {
  font-weight: 600;
}
small {
  font-size: inherit;
  color: var(--color-text-grey);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-main {
  background-color: var(--color-main);
}
.color-grey {
  color: var(--color-text-grey);
}

.paillette-logo{
  background: url(../icons/home-paillette.svg) no-repeat center;
  background-size:100%;
  width: 100px;
  height: 180px;
  position: fixed;
  z-index: 9999;
  top: 0;
  opacity:0;
  transition: opacity .3s ease;
  left: calc(50% - 30em);
  -webkit-transform: translate(calc(-100% - 25px), 0);
  transform: translate(calc(-100% - 25px), 0);
}

.paillette-logo.hide{
  opacity: 0;
  transition: opacity .3s ease;
}

@media screen and (min-width: 1440px){
  .paillette-logo{
    width: 140px;
    height: 250px;
  }
}

.main-header{
  position: fixed;
  width: calc(100% - 2.0em);
  top:0;
  left:0;
  padding: 1em;
  background: #fff;
  transition: background .5s ease .5s;
  z-index:999;
}

.main-header > div{
  max-width: 60rem;
  position: relative;
  margin:auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-header > div:first-child{
  display: flex;
}

.main-header .wrapper-2{
  max-height:0;
  overflow: hidden;
  transition: max-height .3s ease;
}

.main-header.open{
  background-color: var(--color-main);
  transition: background .3s ease;
}

.main-header.open .wrapper-2{
  max-height:100vh;
  overflow: hidden;
  transition: max-height .3s ease, overflow 0s .3s;
}

.logo {
  display: flex;
  font-size:1.5rem;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing:0.03em;
}

.menu{
  margin-top:1em;
}

.menu a {
  padding: 0 1rem;
  display: block;
}
.menu a[aria-current] {
  text-decoration: underline;
}

.social {
  display: flex;
}
.social a {
  padding: .5rem;
}

.social a:first-child{
  padding-left:0;
}

a.menu-icon{
  padding: .5rem .6rem;
  color: transparent;
  font-size: 1px;
  width:15px;
  height:15px;
  display:inline-block;
}

a.ticket{
  background: url(../icons/ticket.svg) no-repeat center 10px;
}

a.loop{
  background: url(../icons/loop.svg) no-repeat center 10px;
}

a.newsletter{
  background: url(../icons/newsletter.svg) no-repeat center 10px;
}

a.menu-icon.icon-text{
  color: var(--text-color);
  font-size: 1em;
  background-position: center left;
  padding: 0 0 0 25px;
  display: inline-block;
  width: auto;
  height: auto;
}

#burger{
  position:relative;
  cursor:pointer;
  display: block;
  padding: .3em 0;
  margin-left: .6em;
}

#burger span:not(.burger--line){
  padding-left:20px;
}

#burger .burger--line:after,
#burger .burger--line:before,
#burger .burger--line{
  height: 2px;
  background: #000;
  width:14px;
  position: absolute;
  left: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: transform .3s ease, background .3s ease;
}

#burger .burger--line{
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
  
#burger .burger--line:after,
#burger .burger--line:before{
  content:"";
}

#burger .burger--line:before{
  top:-5px;
}

#burger .burger--line:after{
  bottom:-5px;
}

.main-header.open #burger .burger--line{
  background: transparent;
}

.main-header.open #burger .burger--line:before{
  transform: rotate(45deg);
  top: 0;
}

.main-header.open #burger .burger--line:after{
  transform: rotate(-45deg);
  bottom: 0;
}

.section {
  padding: 3rem 0;
}

.flex{
  display:flex;
}

.wrap{
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between; 
}
   
.grid {
  --columns: 12;
  --gutter: 3rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}

.grid > .column {
  margin-bottom: var(--gutter);
}

.autogrid {
  --gutter: 3rem;
  --min: 10rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

nav.breadcrumb{
  margin: 1em 0 3em 0;
}

nav.breadcrumb li{
  display: inline-block;
}

nav.breadcrumb li:before{
  content:"→";
  padding: 0 .2em;
}

nav.breadcrumb li:first-child:before{
  display:none;
}

nav.breadcrumb li a:hover{
  color: var(--color-accent);
}

.label{
  font-size: 0.77em;
  color: #878787;
  padding: 2px 10px;
}

.text {
  line-height: 1.5em;
}
.text a:not(.btn) {
  text-decoration: underline;
}
.text :first-child:not(.margin_t*) {
  margin-top: 0;
}
/*.text :last-child {
  margin-bottom: 0;
}*/
.text p:not(.margin_b*),
.text ul,
.text ol {
  margin-bottom: 1.5rem;
}
.text ul,
.text ol {
  margin-left: 1rem;
}
.text ul p,
.text ol p {
  margin-bottom: 0;
}
.text ul > li {
  list-style: disc;
}
.text ol > li {
  list-style: decimal;
}
.text ul ol,
.text ul ul,
.text ol ul,
.text ol ol {
  margin-bottom: 0;
}
.text h1,
.h1,
.intro {
  font-size: 2rem;
  line-height: 1.25em;
}
.h1{
  font-size:2rem;
  text-transform: uppercase;
}

.text h2,
.h2{
  font-size:1.5rem;
  text-transform: uppercase;
}

.text h2 + h3,
.text h2 + p,
.text p + h2{
  margin-top:1rem;
}

.text :last-child:not(.no_m){
  margin-bottom:1rem;
}

.text h3,
.h3{
  font-size:1.16rem;
  text-transform: uppercase;
}

.cap,
.h1.cap,
.h2.cap,
.h3.cap{
  text-transform: capitalize;
}

.micro-text{
   font-size:0.77rem;
   line-height: 1.5;
}

.micro-text p{
  margin-bottom:.8em;
}

.text .codeblock {
  display: grid;
}
.text code {
  font-family: var(--font-family-mono);
  font-size: 1em;
  background: var(--color-light);
  padding: 0 .5rem;
  display: inline-block;
  color: var(--color-black);
}
.text pre {
  margin: 3rem 0;
  background: var(--color-black);
  color: var(--color-white);
  padding: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  line-height: 1.5rem;
}
.text pre code {
  padding: 0;
  background: none;
  color: inherit;
}
.text hr {
  margin: 6rem 0;
}
.text dt {
  font-weight: 600;
}
.text blockquote {
  font-size: 1.25rem;
  line-height: 1.325em;
  border-left: 2px solid var(--color-black);
  padding-left: 1rem;
  margin: 3rem 0;
  max-width: 25rem;
}
.text blockquote footer {
  font-size: .875rem;
  font-style: italic;
}
.text figure {
  margin: 3rem 0;
}
.text figcaption {
  padding-top: .75rem;
  color: var(--color-text-grey);
}

figure.logo-img{
  width:calc(50% - 2em);
  height: 0;
  overflow: hidden;
  padding-bottom: calc(15% + 30px);
  position:relative;
  margin: 1em;
}

figure.logo-img figcaption{
  position: absolute;
  font-size: .7em;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.2;
}

figure.logo-img img{
  position:relative;
}

figure.regular{
  width:100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 71%;
  position:relative;
}

figure.regular._16_9{
  background-color:var(--color-light);
  padding-bottom: 50%;
}


figure.regular img{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  object-fit:cover;
}

figure.regular._16_9 img{
  object-fit:contain;
}

.card{
  line-height: 1.1em;
  padding:15px;
}

.card.structureType{
  background-color:  var(--color-main);
}

.card.pageType{
  background-color:  var(--color-light);
}

.card + .card{
  margin-top: 25px;
}

.card .h3{
  margin-bottom:5px;
  display:block;
}

.infos{
  display: block;
}

hr {
  border: 0;
  background: currentColor;
  height: 2px;
  width: 1.5rem;
  margin: 3rem auto;
}

.align-center {
  text-align: center;
}

.intro {
  max-width: 40rem;
}
.intro *:not(:last-child) {
  margin-bottom: 1em;
}

.cta {
  background: var(--color-black);
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  padding: .75rem 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-black);
}

.box {
  background: var(--color-light);
  padding: 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-light);
}

.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}
.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: .75rem;
  line-height: 1.5em;
}

.footer > section{
  padding-left:1em;
  padding-right:1em;
}
.logo.footer-logo{
  font-size: 1.5rem;
}
.footer h2 {
  font-weight: 600;
  margin-bottom: .75rem;
}
.footer p {
  max-width: 15rem;
}
.footer a:hover {
  color: var(--color-grey);
}

.map {
  --w: 2;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  position: relative;
  overflow: hidden;
  background: var(--color-black);
}
.map iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.margin_b-s {
  margin-bottom: .75rem;
}
.margin_t-s {
  margin-top: .75rem;
}
.margin_b-m {
  margin-bottom: 1.5rem;
}
.margin_t-m {
  margin-top: 1.5rem;
}
.margin_t-l {
  margin-top: 3rem;
}
.margin_l-m {
  margin-left: 1.5rem;
}
.margin_b-l {
  margin-bottom: 3rem;
}
.margin_b-xl {
  margin-bottom: 4.5rem;
}
.margin_b-xxl {
  margin-bottom: 6rem;
}

.no_m{
  margin: 0;
}

.padding_t-s {
  padding-top: .75rem;
}
.padding_b-s {
  padding-bottom: .75rem;
}
.padding_h-s {
  padding: .75rem 0;
}
.padding_w-s {
  padding: 0 .75rem;
}
.padding_t-m {
  padding-top: 1.5rem;
}
.padding_w-m {
  padding:0 1.5rem;
}
.padding_h-m {
  padding:1.5rem 0;
}
.padding_t-l {
  padding-top: 3rem;
}
.padding_t-xl {
  padding-top: 4.5rem;
}
.padding_t-xxl {
  padding-top: 6rem;
}

.no-p{
  padding: 0;
}

.list-inline li{
  display:inline-block;
  margin-left: 20px;
}

.list-inline li:first-child{
  margin-left:0;
}

.open-icon{
  width:35px;
  height:35px;
  position: relative;
  display: block;
}

.open-icon:before,
.open-icon:after{
  content:"";
  display: block;
  position:absolute;
  width:100%;
  height:1px;
  background-color: #000;
  top:50%;
  left:0;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.open-icon:after{
  transition: transform .3s ease;
  -webkit-transform: translate(0,-50%) rotate(90deg);
  transform: translate(0,-50%) rotate(90deg);
}

.open .open-icon:after{
  -webkit-transform: translate(0,-50%) rotate(0);
  transform: translate(0,-50%) rotate(0);
}


.pagination {
  display: flex;
  padding-top: 6rem;
}
.pagination > span {
  color: var(--color-text-grey);
}
.pagination > * {
  padding: .5rem;
  width: 3rem;
  text-align: center;
  border: 2px solid currentColor;
  margin-right: 1.5rem;
}
.pagination > a:hover {
  background: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

.dropdown-bloc{
  border-bottom: 1px solid #000;
  padding: 20px 0;
}

[data-dropdown="true"] header{
  cursor: pointer;
}

[data-dropdown="true"] .wrapper{
  max-height:0;
  overflow: hidden;
  transition: max-height .6s ease-in-out;
}

[data-dropdown="true"].open .wrapper{
  max-height: 9999px;
  overflow: auto;
  transition: max-height 1s ease-in-out;
}

[data-dropdown="false"] .open-icon{
  display:none;
}

.modal {
    align-items: center;
    bottom: 0;
    display: none;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: .4rem;
    position: fixed;
    right: 0;
    top: 0;
}

.modal.active,
.modal:target {
    display: flex;
    display: -ms-flexbox;
    opacity: 1;
    z-index: 400;
}

.modal.active .modal-overlay,
.modal:target .modal-overlay {
    background: none;
    bottom: 0;
    cursor: default;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal.active .modal-container,
.modal:target .modal-container {
    animation: slide-down .2s ease 1;
    z-index: 1;
}

.modal-container {
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 .2rem .5rem rgba(48,55,66,.3);
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 75vh;
    max-width: 640px;
    padding: 0 .8rem;
    width: 100%;
}

.modal-container .modal-header {
    padding: 2rem;
}

.modal-container .modal-body {
    overflow-y: auto;
    padding: 2rem;
    position: relative;
}

.modal-container .modal-footer {
    padding: 2rem;
    text-align: right;
}

.modal.modal-sm .modal-container {
    max-width: 320px;
    padding: 0 .4rem;
}

.modal.modal-lg .modal-overlay {
    background: #fff;
}

.modal.modal-lg .modal-container {
    box-shadow: none;
    max-width: 960px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-$unit-8);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 60rem) {
 .footer .grid{
    grid-gap: 0;
  }

  .footer .grid > .column {
    margin-bottom: 1em;
  }

  .nomargin-mob{
    margin:0;
  }

  .noflex-mob{
    display: block;
  }

  .text h1, .h1, .intro{
    font-size: 1.5rem;
  }

  .text h2, .h2{
    font-size: 1.2rem;
  }

}


@media screen and (min-width: 60rem) {
  body {
    --padding: 3rem;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.c-2{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5em;
  }
  .grid.c-3{
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 1.5em;
  }
  .grid.alignright > div:last-child {
      grid-column-start: 1;
      grid-row-start: 1;
  }
  .grid.c-3.alignright > div:nth-child(2) {
      grid-column-start: 2;
      grid-row-start: 1;
  }
  .grid > .column {
    grid-column: span var(--columns);
  }

  .main-header{
    width:100%;
    padding: 1.67rem 0;
    position:absolute;
  }

  .fixed-header .main-header{
    position:fixed;
    padding: .8rem 0;
  }

  .fixed-header .main-menu a:first-child{
    padding-left: 0;
  }

  .fixed-header .main-header .logo{
    display:none;
  }

  .fixed-header .paillette-logo{
    opacity:1;
  }

  .fixed-header .paillette-logo.hide{
    opacity:0;
  }

  .main-header > div{
    display: flex;
  }

  .main-header.open .wrapper-2{
    max-height:250px;
  }

  .menu {
    display: flex;
    margin-top:0;
  }

  .menu a:not(.menu-icon){
    padding: 0 2rem;
  }

  .logo{
    font-size:3rem;
  }

  figure.logo-img{
    width:calc(20% - 2em);
  }
}
