* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  /*-webkit-font-smoothing: subpixel-antialiased;*/
}

@font-face {
    font-family: "pantograph-regular";
    src: url("../fonts/pantograph-regular.eot?#iefix");
    src: url("../fonts/pantograph-regular.eot?#iefix") format("eot"), url("../fonts/pantograph-regular.woff2") format("woff2"), url("../fonts/pantograph-regular.woff") format("woff"), url("../fonts/pantograph-regular.ttf") format("truetype"), url("../fonts/pantograph-regular.svg") format("svg");
}

:root {
  --padding: 1.5rem;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #878787;
  --color-light: #EBEBEB;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-main:             #fff161; /* JAUNE */
  --color-accent:           #773e90; /* VIOLET */
  --font-family-sans: "pantograph-regular", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background: var(--color-background);
  font-size:18px;
}

body{
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

img[data-src]:not(.loaded) {
 opacity:.3;
  -webkit-transition: .3s opacity ease .5s;
  transition: .3s opacity ease .5s;
}

img.loaded{
 opacity: 1;
}


.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

.blue-filter{
 /* background: linear-gradient(var(--color-accent) 5%, 25%, var(--color-main) 95%);*/
  position:relative;
}

.blue-filter:before{
  content:"";
  display:block;
  /*background: linear-gradient(var(--color-main) 5%, 25%, var(--color-main) 95%);*/
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.blue-filter img{
 /* mix-blend-mode: multiply;
  filter: grayscale(1);*/
}

.filter-item:hover .blue-filter:before{
  opacity:1;
}

.main-wrapper{
  padding: 140px var(--padding) 0 var(--padding);
  max-width: 60rem;
  margin: 0 auto;
}

li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.link{
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  cursor:pointer;
}

.link:hover{
  color: var(--color-main);
}

.read-more{
  position: relative;
  top: -2.2em;
  left: calc(100% - 1em);
}

.hidden{
  display:none;
}

button {
  font: inherit;
  background: none;
  border: 0;
  color: currentColor;
  cursor: pointer;
}

.underline{
  text-decoration: underline;
}

.uppercase{
  text-transform: uppercase;
}

.link-regular:after{
  content: "→";
  display: inline-block;
  padding-left: .5em;
}

.btn{
  border-radius: 60px;
  padding: 8px 20px 10px 20px;
  background-color: var(--color-accent);
  border:none;
  display: inline-block;
  text-decoration: none;
  transition: filter .3s ease;
  text-align:center;
  line-height:1.2;
  margin: 10px 25px 10px 0;
  border:1px solid transparent;
  -webkit-filter: brightness(1);
  filter: brightness(1);
  
}

.btn:not(.bg-light, .btn-light, .bg-main){
  color: #fff;
}

.btn.large{
  padding: 15px 60px;
}

.btn-light{
  background-color: #fff;
  border:1px solid #000;
  transition: all .3s ease;
}

.btn-light:before{
  transition: all .3s ease;
}

.btn:hover{
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.btn-light:hover{
  background-color: transparent;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn.bg-light:hover{
  background-color: rgb(245, 245, 245);
}

.btn-light.icon.eye:before{
  background: url(../icons/eye.svg) no-repeat center;
}

.btn-light.icon.download:before{
  background: url(../icons/download.svg) no-repeat center;
}

.btn-light.icon.url:before{
  background: url(../icons/link.svg) no-repeat center;
}

.btn-light.icon.contact:before{
  background: url(../icons/mail.svg) no-repeat center;
}

.btn-light.icon.eye:hover:before{
  background: url(../icons/eye-accent.svg) no-repeat center;
}

.btn-light.icon.download:hover:before{
  background: url(../icons/download-accent.svg) no-repeat center;
}

.btn-light.icon.url:hover:before{
  background: url(../icons/link-accent.svg) no-repeat center;
}

.btn-light.icon.contact:hover:before{
  background: url(../icons/mail-accent.svg) no-repeat center;
}

.btn.btn-light.bg-main:hover{
  background-color: rgb(201, 249, 255);
}

.btn.icon:before{
  content:"";
  display:inline-block;
  width: 22px;
  height:22px;
  margin-right: .5em;
  position:relative;
  top:4px;
  background-size:100%;
}

.btn.prev:before{
  content:'\2190 ';
  display:inline-block;
  margin-right:.3em;
}

.btn.next:after{
  content:'\2192';
  display:inline-block;
  margin-left:.3em;
}

.input-search{
  padding: .5em;
  margin-right: 2em;
  width:33%;
}

ul.search li:before{
  content: '>>';
}


.inline-form p:first-child{
  width:70%;
  padding: .8em 1.5em 0 0;
}

.inline-form p > * {
  width:100%;
}

.inline-form p:last-child{
  width:30%;
}

.inline-form p input{
  padding:.8em 1em;
  border:none;
  display:block;
  width:calc(100% - 3.5em);
}

#alert{
  color: var(--color-accent);
}

.icon.download:before{
  background: url(../icons/download-wh.svg) no-repeat center;
}

.icon.url:before{
  background: url(../icons/link-wh.svg) no-repeat center;
}

.icon.eye:before{
  background: url(../icons/eye-wh.svg) no-repeat center;
}

.icon.contact:before{
  background: url(../icons/mail-wh.svg) no-repeat center;
}


.icon.ticket:before{
  background: url(../icons/ticket-wh.svg) no-repeat center;
}


.bg-main.icon.eye:before{
  background: url(../icons/eye-accent.svg) no-repeat center;
}

.bg-main.icon.download:before{
  background: url(../icons/download-accent.svg) no-repeat center;
}

.bg-main.icon.url:before{
  background: url(../icons/link-accent.svg) no-repeat center;
}

.bg-main.icon.contact:before{
  background: url(../icons/mail-accent.svg) no-repeat center;
}

/*.icon.download.btn-light:hover:before{
   background: url(../icons/download-accent.svg) no-repeat center;
}*/

/*.icon.url.btn-light:hover:before{
  background: url(../icons/link-accent.svg) no-repeat center;
}*/
/*
.icon.btn-light.eye:hover:before{
  background: url(../icons/eye-accent.svg) no-repeat center;
}*/

.social-share a{
  position:relative;
  display:block;
  margin-right:.3em;
  width:20px;
  height:20px;
  padding:.2em;
  background-color:var(--color-accent);
  transition: background .3s ease;
}

.social-share a:hover{
   background-color:var(--color-main);
}

.social-share img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    object-fit:contain;
    width: 60%;
    height: 60%;
}

.select{
  border-radius: 30px;
  padding: .5em 2em .5em 1em;
  font-family: 'pantograph-regular';
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  background: url(../icons/chevron.svg) no-repeat 95% 50%;
  cursor:pointer;
  border: 1px solid #000;
  margin-bottom: .8em;
}

.select:hover{
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background: url(../icons/chevron-accent.svg) no-repeat 95% 50%;
}

:active,
:focus{
   outline: none;
}

strong, b {
  font-weight: 600;
}
small {
  font-size: inherit;
  color: var(--color-text-grey);
}


.color-light {
  color: var(--color-light);
}

.bg-light {
  background-color: var(--color-light);
}

.btn.bg-light:hover {
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}

.color-accent {
  color: var(--color-accent);
}

.bg-accent {
  background-color: var(--color-accent);
  color:  #fff;
}

.color-main {
  color: var(--color-main);
}

.bg-main {
  background-color: var(--color-main);
  color: var(--color-accent);
}
.color-grey {
  color: var(--color-text-grey);
}

.paillette-logo{
  background: url(../icons/home-paillette.svg) no-repeat center;
  background-size:100%;
  width: 38px;
  height: 50px;
  position: relative;
  top: -7px;
  margin-right:25px;
  transition: opacity .3s ease;
}

.main-header{
  position: fixed;
  width: calc(100% - 2.0em);
  top:0;
  left:0;
  padding: 1em;
  background: #fff;
  transition: background .5s ease .5s;
  z-index:999;
}

.main-header > div{
  max-width: 60rem;
  position: relative;
  margin:auto;
  flex-wrap: wrap;
  align-items: center;
}

.main-header > div:first-child{
  display: flex;
}

.main-header .wrapper-2{
    position: fixed;
    padding: 1em;
    top: 70px;
    left: 0;
    height: 100vh;
    background-color: var(--color-main);
    width: 100%;
    display: block;
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
    transition: transform .3s ease;
}

.main-header.open .wrapper-2{
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.main-header .wrapper-2 .menu a{
  display:block;
  font-size:28px;
}

.main-header .wrapper-2 .menu-small{
  margin:1em 0 1em 1em;
}

.main-header .wrapper-2 .menu-small a{
  font-size:1.1em;
}

.main-header .social{
  margin-left:1em;
}

.logo {
  display: flex;
  font-size:1.5rem;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing:0.03em;
}

.menu{
  margin-top:1em;
}

.menu + .menu{
  margin-top:0;
}

.menu a {
  padding: 0 1rem;
  display: block;
}

.menu a:hover{
  text-decoration:underline;
}

.menu a[aria-current] {
  text-decoration: underline;
}

.social {
  display: flex;
}
.social a {
  padding: .5rem;
}

.social a:first-child{
  padding-left:0;
}

a.menu-icon{
  padding: .5rem .6rem;
  color: transparent;
  font-size: 1px;
  width:15px;
  height:15px;
  display:inline-block;
}

a:not(.btn).ticket{
  background: url(../icons/ticket.svg) no-repeat center 10px;
}

a.loop{
  background: url(../icons/loop.svg) no-repeat center 10px;
}

a.newsletter{
  background: url(../icons/newsletter.svg) no-repeat center 10px;
}

a.infos{
  background: url(../icons/infos.svg) no-repeat center 10px;
}

a.phone{
  background: url(../icons/phone.svg) no-repeat center 10px;
}

a.mail{
  background: url(../icons/mail.svg) no-repeat center 10px;
}

a.marker{
  background: url(../icons/marker.svg) no-repeat center 10px;
}


a.menu-icon.icon-text{
  color: var(--text-color);
  font-size: 1em;
  background-position: center left;
  padding: 0 0 0 25px;
  display: inline-block;
  width: auto;
  height: auto;
}

.menu-burger{
  position:relative;
  cursor:pointer;
  display: block;
  padding: .3em 0;
  font-size: 1.1em;
}

.menu-burger span:not(.burger--line){
  padding-left:20px;
}

.menu-burger .burger--line:after,
.menu-burger .burger--line:before,
.menu-burger .burger--line{
  height: 2px;
  background: #000;
  width:14px;
  position: absolute;
  left: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: transform .3s ease, background .3s ease;
}

.menu-burger .burger--line{
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
  
.menu-burger .burger--line:after,
.menu-burger .burger--line:before{
  content:"";
}

.menu-burger .burger--line:before{
  top:-5px;
}

.menu-burger .burger--line:after{
  bottom:-5px;
}

.main-header.open .menu-burger .burger--line{
  background: transparent;
}

.main-header.open .menu-burger .burger--line:before{
  transform: rotate(45deg);
  top: 0;
}

.main-header.open .menu-burger .burger--line:after{
  transform: rotate(-45deg);
  bottom: 0;
}


.section {
  padding: 3rem 0;
}

.flex{
  -webkit-display:flex;
  display:flex;
}

.w_100{
  width:100%;
}

.w_85{
  width:85%;
}

.w_80{
  width:80%;
}

.w_75{
  width:75%;
}

.w_66{
  width:66.666666%;
}

.w_50{
  width:50%;
}

.w_33{
  width:33.3333333%;
}

.w_40{
  width:40%;
}

.w_30{
  width:30%;
}

.w_25{
  width:25%;
}

.w_20{
  width:20%;
}

.w_10{
  width:10%;
}

@media screen and (max-width:  1024px){
  .w_100-mb{
    width:100%;
  }
  .w_50-mb{
    width:50%;
  }
}

.wrap{
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between; 
}
   
.grid {
  --columns: 12;
  --gutter: 3rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}

.grid.header-grid div:last-child > *{
  margin:0;
}

.grid > .column {
  margin-bottom: 1em;
}

.autogrid {
  --gutter: 3rem;
  --min: 10rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

nav.breadcrumb{
  margin: 1em 0 3em 0;
}

nav.breadcrumb li{
  display: inline-block;
}

nav.breadcrumb li:before{
  content:'\2192';
  padding: 0 .2em;
}

nav.breadcrumb li:first-child:before{
  display:none;
}

nav.breadcrumb li a:hover{
  color: var(--color-accent);
}


.label{
  font-size: 0.77em;
  /*color: #878787;*/
  padding: 2px 10px;
}

.label.tag{
    padding: 0 .5em;
    display: inline-block;
    margin: 0;
    vertical-align: super;
    font-size:0.777em;
    text-transform:lowercase;
}

.thumb .label.tag{
  z-index: 99;
  margin: .5em;
  display: inline-block;
  position: absolute;
  right: 0;
}

.thumb--artist{
  margin-bottom:3em;
}

.label.tag.cap{
   text-transform:uppercase;
}

.header-thumb .label{
  position: relative;
  top: .4em;
  margin-left: 1em;
}

.carousel-wrapper .header-thumb .label.tag{
  padding: 0 .1em;
  margin:0;
}

.mention.label.tag{
  position: absolute;
  z-index: 99;
  display: block;
  top: 15px;
  left: 15px;
  right:auto;
}

.grid.c-3 .mention.label.tag{
  top: 0;
  left: 0;
}

.label-wrapper{
  z-index: 99;
  position: absolute;
  overflow:hidden;
  width:100%;
  height:100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.label-wrapper span.label.tag{
  display:block;
  max-height:35px;
  margin:1.5em;
  position:relative;
}

.label-wrapper > span:nth-child(even){
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  top:15px;
  left:-46px;
}

.label-wrapper > span:nth-child(odd){
  -webkit-transform: rotate(-28deg);
  transform: rotate(-28deg);
  top: -10px;
  left:-20px;
}

.label-wrapper > span:nth-child(3n){
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  left:-30px;
  top:-35px;
}

.label-wrapper > span:nth-child(2n + 1){
  left:12px;
  top:10px;
}

.label-wrapper > span:nth-child(2n + 3){
  left:45px;
  top:56px;
}

.label-wrapper > span:nth-child(3n + 2){
  -webkit-transform: rotate(-75deg);
  transform: rotate(-75deg);
  left:65px;
  top:86px;
}

.label-wrapper > span:nth-child(4n + 3){
  -webkit-transform: rotate(85deg);
  transform: rotate(85deg);
  left:-45px;
}

.label-wrapper > span:nth-child(4n){
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  left:30px;
  top:15px;
}

.label-wrapper > span:nth-child(5n){
  -webkit-transform: rotate(48deg);
  transform: rotate(48deg);
  top: 25px;
}

.creation--stamp{
  position: absolute;
  z-index: 99;
  display: block;
  top: 15px;
  right: 15px;
  width:60px;
  height:60px;
  background: url(../icons/creation-paillette.svg) no-repeat center;
  background-size:100%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

li figure > .creation--stamp{
  top: 15px;
  right: 15px;
  width:60px;
  height:60px;
}

.carousel figure > .creation--stamp{
  top: 25px;
  right: 25px;
  width:80px;
  height:80px;
}

@media screen and (max-width:60em){
  .carousel figure > .creation--stamp{
    top: 10px;
    right: 10px;
    width:50px;
    height:50px;
  }
}

ul.comma-list{
  list-style:none;
  display:inline-block;
}

ul.comma-list li{
  display:inline-block;
}

ul.comma-list li:after,
.comma-list a:after{
  content:", ";
  display:inline-block;
  padding-right:.2em;
}

ul.comma-list li:last-child:after,
.comma-list a:last-child:after{
  content:".";
}

ul.comma-list li:nth-last-child(-n+2):after,
.comma-list a:nth-last-child(-n+2):after{
  content:"";
}

ul.comma-list li:nth-last-child(-n+1):before,
.comma-list a:nth-last-child(-n+1):before{
  content:"et ";
  display:inline-block;
  padding-right:.2em;
}

ul.comma-list li:first-child:before,
.comma-list a:first-child:before{
  display:none;
}

p.list span:after{
  content:',';
  padding-right:.3em;
}

p.list span:last-child:after{
  content:'';
}

.text {
  line-height: 1.5em;
}
.text a:not(.btn) {
  text-decoration: underline;
}
.text :first-child:not(.margin_t*) {
  margin-top: 0;
}
/*.text :last-child {
  margin-bottom: 0;
}*/
.text p:not(.margin_b*),
.text ul,
.text ol {
  margin-bottom: 1.5rem;
}
.text ul:not(.no_m),
.text ol:not(.no_m) {
  margin-left: 1rem;
}
.text ul p:not(.no_m),
.text ol p:not(.no_m) {
  margin-bottom: 0;
}
.text ul > li {
  list-style: disc;
}
.text ol > li {
  list-style: decimal;
}
.text ul ol,
.text ul ul,
.text ol ul,
.text ol ol {
  margin-bottom: 0;
}
.text h1,
.h1,
.intro {
  font-size: 2rem;
  line-height: 1.25em;
}
.h1{
  font-size:2rem;
  text-transform: uppercase;
}

.text h2,
.h2{
  font-size:1.5rem;
  text-transform: uppercase;
}

.text h2 + h3,
.text h2 + p,
.text p + h2,
.text h3 + p,
.text p + h3,
.text p + p{
  margin-top:1rem;
}

.text :last-child:not(.no_m, br){
  margin-bottom:1rem;
}

.text h3,
.h3{
  font-size:1.16rem;
  text-transform: uppercase;
}

.thumb h2{
  line-height:1.2;
}

.cap,
.h1.cap,
.h2.cap,
.h3.cap{
  text-transform: capitalize;
}

.micro-text{
   font-size:0.77rem;
   line-height: 1.5;
}

.micro-text p{
  margin-bottom:.8em;
}

.text .codeblock {
  display: grid;
}
.text code {
  font-family: var(--font-family-mono);
  font-size: 1em;
  background: var(--color-light);
  padding: 0 .5rem;
  display: inline-block;
  color: var(--color-black);
}
.text pre {
  margin: 3rem 0;
  background: var(--color-black);
  color: var(--color-white);
  padding: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  line-height: 1.5rem;
}
.text pre code {
  padding: 0;
  background: none;
  color: inherit;
}
.text hr {
  margin: 6rem 0;
}
.text dt {
  font-weight: 600;
}
.text blockquote {
  font-size: 1.25rem;
  line-height: 1.325em;
  border-left: 2px solid var(--color-black);
  padding-left: 1rem;
  margin: 3rem 0;
  max-width: 25rem;
}
.text blockquote footer {
  font-size: .875rem;
  font-style: italic;
}
.text figure {
  margin: 3rem 0;
}
.text figcaption {
  padding-top: .75rem;
  color: var(--color-text-grey);
}

.icons-list{
  margin-left:0;
}

.icons-list li{
  list-style:none;
  display:block;
  margin:0;
}


figure.logo-img{
  width:calc(50% - 2em);
  height: 0;
  overflow: hidden;
  padding-bottom: calc(25% + 50px);
  position:relative;
  margin: 1em;
}

figure.logo-img figcaption{
  position: absolute;
  font-size: .7em;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.2;
}

figure.logo-img img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  bottom:0;
  right:0;
  object-fit: contain;
}

figure.regular{
  width:100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 71%;
  position:relative;
}

figure.regular._16_9{
  background-color:var(--color-light);
  padding-bottom: 50%;
}

figure.regular iframe, 
figure.regular img{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  object-fit:cover;
}

figure.regular._16_9 img{
  object-fit:cover;
}

.card{
  line-height: 1.1em;
  padding:15px;
}

.card .small-title{
  font-size:21px;
  line-height:1.3;
}

.card a{
  text-decoration:underline;
}

.card.structureType{
  background-color:  var(--color-main);
}

.card.pageType{
  background-color:  var(--color-light);
}

.card + .card{
  margin-top: 25px;
}

.grid.c-2 .card + .card{
  margin-top: 0;
}

.card .h3{
  margin-bottom:5px;
  display:block;
}

.infos{
  display: block;
}

hr {
  border: 0;
  background: currentColor;
  height: 2px;
  width: 1.5rem;
  margin: 3rem auto;
}

.align-center {
  text-align: center;
}

.intro {
  max-width: 40rem;
}
.intro *:not(:last-child) {
  margin-bottom: 1em;
}

.cta {
  background: var(--color-black);
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  padding: .75rem 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-black);
}

.box {
  background: var(--color-light);
  padding: 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-light);
}

.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}
.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}

iframe{
  max-width:100%;
}

.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: .75rem;
  line-height: 1.5em;
}

.footer > section{
  padding-left:1em;
  padding-right:1em;
}
.logo.footer-logo{
  font-size: 1.5rem;
}
.footer h2 {
  font-weight: 600;
  margin-bottom: .75rem;
}
.footer p {
  max-width: 15rem;
}
.footer a:hover {
  color: var(--color-grey);
}

.map {
  --w: 2;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  position: relative;
  overflow: hidden;
  background: var(--color-black);
}
.map iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.margin_b-xs {
  margin-bottom: .5rem;
}
.margin_b-s {
  margin-bottom: .75rem;
}
.margin_t-s {
  margin-top: .75rem;
}
.margin_b-m {
  margin-bottom: 1.5rem;
}
.margin_t-m {
  margin-top: 1.5rem;
}
.margin_t-l {
  margin-top: 3rem;
}
.margin_t-xl {
  margin-top: 4.5rem;
}
.margin_t-xxl {
  margin-top: 6rem;
}
.margin_l-m {
  margin-left: 1.5rem;
}
.margin_b-l {
  margin-bottom: 3rem;
}
.margin_b-xl {
  margin-bottom: 4.5rem;
}
.margin_b-xxl {
  margin-bottom: 6rem;
}

.no_m{
  margin: 0;
}

.padding_t-s {
  padding-top: .75rem;
}
.padding_b-s {
  padding-bottom: .75rem;
}
.padding_h-s {
  padding: .75rem 0;
}
.padding_w-s {
  padding: 0 .75rem;
}
.padding_t-m {
  padding-top: 1.5rem;
}
.padding_b-m {
  padding-bottom: 1.5rem;
}
.padding_w-m {
  padding:0 1.5rem;
}
.padding_h-m {
  padding:1.5rem 0;
}
.padding_h-l {
  padding: 3rem 0;
}
.padding_t-l {
  padding-top: 3rem;
}
.padding_t-xl {
  padding-top: 4.5rem;
}
.padding_b-xl {
  padding-bottom: 4.5rem;
}
.padding_t-xxl {
  padding-top: 6rem;
}
.padding_b-xxl {
  padding-bottom: 6rem;
}

.no-p{
  padding: 0;
}

.list-inline li{
  display:inline-block;
  margin-left: 20px;
}

.list-inline li:first-child{
  margin-left:0;
}

.open-icon{
  width:35px;
  height:35px;
  position: relative;
  display: block;
}

.open-icon:before,
.open-icon:after{
  content:"";
  display: block;
  position:absolute;
  width:100%;
  height:1px;
  background-color: #000;
  top:50%;
  left:0;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.open-icon:after{
  transition: transform .3s ease;
  -webkit-transform: translate(0,-50%) rotate(90deg);
  transform: translate(0,-50%) rotate(90deg);
}

.open .open-icon:after{
  -webkit-transform: translate(0,-50%) rotate(0);
  transform: translate(0,-50%) rotate(0);
}

.small .open-icon{
  width:28px;
  height:28px;
}

.pagination {
  display: flex;
  padding-top: 6rem;
}
.pagination > span {
  color: var(--color-text-grey);
}
.pagination > * {
  padding: .5rem;
  width: 3rem;
  text-align: center;
  border: 2px solid currentColor;
  margin-right: 1.5rem;
}
.pagination > a:hover {
  background: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

.dropdown-bloc{
  border-bottom: 1px solid #000;
  padding: 20px 0;
}

[data-dropdown="true"] header{
  cursor: pointer;
}

[data-dropdown="true"] .wrapper{
  max-height:0;
  overflow: hidden;
  transition: max-height .6s ease-in-out;
}

[data-dropdown="true"].open .wrapper{
  max-height: 9999px;
  overflow: auto;
  transition: max-height 1s ease-in-out;
}

[data-dropdown="false"] .open-icon{
  display:none;
}

.modal {
    align-items: center;
    bottom: 0;
    display: none;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: .4rem;
    position: fixed;
    right: 0;
    top: 0;
}

.modal.active,
.modal:target {
    display: flex;
    display: -ms-flexbox;
    opacity: 1;
    z-index: 99999;
}

.modal.active .modal-overlay,
.modal:target .modal-overlay {
    background: none;
    bottom: 0;
    cursor: default;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal.active .modal-container,
.modal:target .modal-container {
    animation: slide-down .2s ease 1;
    z-index: 1;
}

.modal-container {
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 .2rem .5rem rgba(48,55,66,.3);
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 75vh;
    max-width: 640px;
    padding: 0 .8rem;
    width: 100%;
}

.modal-container .modal-header {
}

.modal-container .modal-body {
    overflow-y: auto;
    position: relative;
    padding: 1em;
}

.modal-container .modal-footer {
    padding: 2rem;
    text-align: right;
}

.modal.modal-sm .modal-container {
    max-width: 320px;
    padding: 0 .4rem;
}

.modal.modal-lg .modal-overlay {
    background: #fff;
}

.modal.modal-lg .modal-container {
    box-shadow: none;
    max-width: 960px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-$unit-8);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.filter-item{
  width:100%;
  margin-bottom:3em;
}

.filter-item .header-thumb{
  grid-gap: 0;
}


/*/ CAROUSEL /*/

  .carousel-thumb{
    width:100%;
    margin:0;
  }

  .carousel-thumb figure{
    margin:0 0 1em 0;
  }

  .carousel-thumb a{
    text-decoration:none;
  }

  .carousel-nav{
    position:absolute;
    top:50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    color:transparent;
    font-size:1px;
    width:100%;
    z-index:3;
  }

  .carousel-wrapper{
    position:relative;
    margin-top:0;
  }

  .carousel-nav button{
    width:15px;
    height:15px;
    position:relative;
    opacity: 1;
    transition: opacity .3s ease;
  }

  .carousel-nav button.inactive{
    opacity:0;
  }

  .carousel-nav button.prev{
    background: url(../icons/chevron-prev.svg) no-repeat center;
    left:10em;
  }

  .carousel-nav button.next{
    background: url(../icons/chevron-next.svg) no-repeat center;
    left:calc(100% - 10em);
  }

  .focus .media{
    max-width: 400px;
  }

  .focus .carousel-wrapper{
    overflow: auto;
  }

  .focus .carousel-nav button.prev{
    left: 5px;
  }

  .focus .carousel-nav button.next{
    left: 90%;
  }

  .grid.header-grid div:last-child{
    text-align:right;
  }


@media screen and (max-width: 1024px) {

  #navbar.main-header .wrapper-1 .w_33:first-child{
    display:none;
  }

  #navbar.main-header .wrapper-1 .w_33{
    width: 50%;
  }

  #navbar.main-header .wrapper-1 .menu a{
    display:inline-block;
  }

  .main-header .wrapper-2 {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  #burger{
    position: fixed;
    right: 20px;
  }

  .grid{
    grid-gap: 0;
  }
  
  .block-newsletter{
    padding: 1em;
  }

  .block-newsletter .main-wrapper{
    padding-top: 0;
    padding-bottom: 0;
  }

  .inline-form p:first-child,
  .inline-form p:last-child{
    width:100%;
    text-align:center;
  }

  .inline-form p input{
    width:calc(100% - 2em);
    margin-bottom:1em;
  }

  .main-wrapper{
    padding: 100px var(--padding) var(--padding);
  }

 .footer .grid{
    grid-gap: 0;
  }

  .footer .grid > .column {
    margin-bottom: 1em;
  }

  .nomargin-mob{
    margin:0;
  }

  .noflex-mob{
    display: block;
  }

  .text h1, .h1, .intro{
    font-size: 1.5rem;
  }

  .text h2, .h2{
    font-size: 1.2rem;
  }

  nav.breadcrumb{
    margin-bottom:4em;
    font-size:12px;
  }

  .grid.header-grid div:last-child{
    text-align:left;
  }

}


@media screen and (min-width: 1024px) {
  body {
    --padding: 3rem;
  }

  .main-header .wrapper-2{
    width: 25%;
    top:0;
  }


  .main-header .wrapper-2 .menu{
    display:block;
    margin-top: 100px;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.c-2{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5em;
  }
  .grid.c-3{
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 1.5em;
  }
  .grid.default{
    grid-template-columns: 3fr 1fr;
    grid-row-gap: 1.5em;
  }
  .grid.row-large{
    grid-row-gap:4.2em;
  }
  .grid.alignright > div:last-child {
      grid-column-start: 1;
      grid-row-start: 1;
  }
  .grid.c-3.alignright > div:nth-child(2) {
      grid-column-start: 2;
      grid-row-start: 1;
  }
  .grid > .column {
    grid-column: span var(--columns);
  }

  .grid-wrapper--inner{
    width: 100%;
    overflow: hidden;
  }

  .filter-item:not(.carousel-thumb){
    width: calc(50% - 2em);
    margin: 1.3em 1em 4.5em 1em;
  }

  .home .grid .filter-item{
    width: 100%;
  }

  .grid.c-3 .filter-item{
    width: calc(33.33333% - 2.6em);
    margin: 1.3em 1.3em 2.5em 1.3em;
  }

  .filter-item .header-thumb{
    grid-gap: 2em;
  }

  .filter-grid{
    margin-left: -1em;
    margin-right: -1em;
  }

  .filter-grid h2{
    line-height: 1.3;
  }

  .focus .text h1{
    margin-bottom:.5em;
  }

  .main-header{
    width:100%;
    padding: 1.67rem 0;
    position:absolute;
  }

  .fixed-header .main-header{
    position:fixed;
    padding: .8rem 0;
  }

  .fixed-header .main-menu a:first-child{
    padding-left: 0;
  }

  .fixed-header .main-header .logo{
    color:transparent;
    font-size:1px;
  }

  .fixed-header .main-header .paillette-logo{
    margin: auto;
    width: 30px;
    top:0;
    left: 3px;
  }

  .main-header > div{
    display: flex;
  }

  .focus .media{
    max-width: 520px;
  }

  .menu {
    display: flex;
    margin-top:0;
    justify-content: flex-end;
    align-items: center;
  }

  .menu a:not(.menu-icon){
    padding: 0 6px;
    font-size: 1.1em;
  }

  .menu .social a {
    padding-right:0;
    padding-left: 3px;
  }

  .logo{
    font-size:2.8rem;
  }

  figure.logo-img{
    width:calc(25% - 2em);
  }

  .select + .select{
    margin-left: 1em;
  }
}

@media screen and (max-width: 480px) {
    .focus .media{
      max-width: 310px;
    }
}

@media screen and (max-width: 320px) {
    .focus .media{
      max-width: 260px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer .grid {
      grid-template-columns: repeat(2,1fr);
    }
}


/*ipad Landscape"*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .main-header{
      position: -webkit-sticky;
      position: sticky;
    }

  .main-header .wrapper-2 {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  .wrapper-1{
    padding: 0 2em;
  }

  .grid{
    grid-gap: 1.5em;
  }
}

/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

  .main-header{
    position: -webkit-sticky;
    position: sticky;
  }

  .main-header .wrapper-2 {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  .wrapper-1{
    padding: 0 2em;
  }

  .grid{
    grid-gap: 1.5em;
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  #burger {
    position: absolute;
    right: 20px;
  }
}

