.workspaces figure{
	position: relative;
	height:0;
	overflow: hidden;
	padding-bottom:calc(69% + 85px);
}

.workspaces img{
	position: absolute;
	height:calc(100% - 85px);
	width:100%;
	top:0;
	left:0;
	object-fit:cover;
}

.workspaces figcaption{
	padding-top:calc(69% + 10px);
}

.workspaces figcaption span{
	display:block;
}

.workspaces figcaption span:first-child{
	position: absolute;
	top:1em;
	right:1em;
	background: var(--color-accent);
	text-transform: uppercase;
	padding: .5em;
	font-size:.7em;
}