#workspaces figure{
	position: relative;
	height:0;
	overflow: hidden;
	padding-bottom:69%;
}

#workspaces img{
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	object-fit:cover;
}


#workspaces p span{
	display:block;
}

#workspaces .grid > div{
	position:relative;
}

#workspaces .ws-infos span:first-child{
	position: absolute;
	top:1em;
	right:1em;
	background: var(--color-accent);
	text-transform: uppercase;
	padding: .5em;
	font-size:.7em;
}