.spectacle h1{
	display:inline-block;
}

.spectacle header h1{
	margin-right: .5em;
}

.spectacle header a:hover{
	color:var(--color-accent);
}


.spectacle header.grid > .column {
	margin-bottom: 0;
}

@media screen and(min-width:768px){
	.spectacle h1 + .label{
	    margin: 0 1em;
	    vertical-align: super;
	}
}

